<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="../static/css/planSalle.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>

<h2>La plan de la salle</h2>

<table style="width:100%; height: 1000px;">
  <tr>
    <th style="width:15%"></th>
    <th style="width:20%"></th>
    <th style="width:15%"></th>
  	<th style="width:15%"></th>
    <th style="width:20%"></th>
	<th style="width:15%"></th> 
  
  </tr>
  <tr>
    <td class="table">
    	<p>T01 - 4 pers</p>
    	<img src="https://cdn-icons-png.flaticon.com/512/51/51882.png" width="150px" height="150px"></img>
    </td>
    <td> <div class="arrow-1"></div>
    	<p>Votre table</p>
    </td>
   	<td class="table left">
    	<p>T05 - 8 pers</p>
    	<!-- <div>
    		<div class="arrow-1"></div>
    		<div style="float: right;">
    			<img src="https://cdn-icons-png.flaticon.com/512/51/51882.png" width="150px" height="150px"></img>
    		</div>
    		
    	</div> -->
    	<img src="https://cdn-icons-png.flaticon.com/512/51/51882.png" width="150px" height="150px"></img>
    </td>
    <td class="table">
    	<p>T09 - 8 pers</p>
    	<img src="https://cdn-icons-png.flaticon.com/512/51/51882.png" width="150px" height="150px"></img>
    </td>
    <td></td>
	<td class="table">
    	<p>T13 - 10 pers</p>
    	<img src="https://cdn-icons-png.flaticon.com/512/51/51882.png" width="150px" height="150px"></img>
    </td>
  </tr>

  <tr>
   <td class="table">
    	<p>T02 - 6 pers</p>
    	<img src="https://cdn-icons-png.flaticon.com/512/51/51882.png" width="150px" height="150px"></img>
    </td>
    <td> </td>
    <td class="table left">
    	<p>T06 - 6 pers</p>
    	<img src="https://cdn-icons-png.flaticon.com/512/51/51882.png" width="150px" height="150px"></img>
    </td>
    <td class="table">
    	<p>T10 - 8 pers</p>
    	<img src="https://cdn-icons-png.flaticon.com/512/51/51882.png" width="150px" height="150px"></img>
    </td>
    <td></td>
	<td class="table">
    	<p>T14 - 8 pers</p>
    	<img src="https://cdn-icons-png.flaticon.com/512/51/51882.png" width="150px" height="150px"></img>
    </td>
  </tr>

  <tr>
    <td class="table">
    	<p>T03 - 4 pers</p>
    	
    	<img src="https://cdn-icons-png.flaticon.com/512/51/51882.png" width="150px" height="150px"></img>
    </td>
    <td> </td>
   	<td class="table left">
    	<p>T07 - 8 pers</p>
    	<img src="https://cdn-icons-png.flaticon.com/512/51/51882.png" width="150px" height="150px"></img>
    </td>
    <td class="table">
    	<p>T11 - 6 pers</p>
    	<img src="https://cdn-icons-png.flaticon.com/512/51/51882.png" width="150px" height="150px"></img>
    </td>
    <td></td>
	<td class="table">
    	<p>T15 - 6 pers</p>
    	<img src="https://cdn-icons-png.flaticon.com/512/51/51882.png" width="150px" height="150px"></img>
    </td>
  </tr>

   <tr>
    <td class="table">
    	<p>T04 - 4 pers</p>
    	
    	<img src="https://cdn-icons-png.flaticon.com/512/51/51882.png" width="150px" height="150px"></img>
    </td>
    <td> </td>
    <td class="table left">
    	<p>T08 - 4 pers</p>
    	<img src="https://cdn-icons-png.flaticon.com/512/51/51882.png" width="150px" height="150px"></img>
    </td>
    <td class="table">
    	<p>T12 - 4 pers</p>
    	<img src="https://cdn-icons-png.flaticon.com/512/51/51882.png" width="150px" height="150px"></img>
    </td>
    <td></td>
	<td class="table">
    	<p>T16 - 4 pers</p>
    	<img src="https://cdn-icons-png.flaticon.com/512/51/51882.png" width="150px" height="150px"></img>
    </td>
  </tr>

  <tr>
  	<td>
  		<img src="https://cdn-icons-png.flaticon.com/512/75/75117.png" style="padding-top: 100px;" height="150px" width="150px">
  	</td>
  	<td></td>
  	<td></td>
  	<td></td> 
  	<td></td>
  	<!-- <td colspan="2">
  		<img src="https://cdn-icons-png.flaticon.com/512/701/701780.png" style="padding-top: 150px;" height="300px" width="300px">
  	</td> -->
  	
  </tr>
</table>

</body>
</html>

